.form {
    &__formulario {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        text-align: center;
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
    }
    &__input {
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    &__button {
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 4px;
    }

}